
body a{
    text-decoration: none;
}

nav{
    background-color: #333;
    color: white;
}

.card{
    height: 29rem;
}

.card img{
    width: 13rem;
    height: 15rem;
    object-fit: fill;
    align-self: center;
}

button.update, button.delete{
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 20%;
}

.form-control{
    width: 50%;
}

footer {
    background-color: #333;
    color: white;
    /* padding: 10px; */
    text-align: center;
}